.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
    font-size: 15px;
    color: black;
}
body
{
    background-size: cover;
}
.div_play
{
    float: center;
}
.div_play_img
{
    width: 200px;
    border-radius: 100px;
}
#play
{
    font-size: 23px;
    margin: 15px;
}
